{% extends 'base_admin.html' %}
{% block content %}

		<div class="card-title">Welcome Admin</div>
		<!--<h3>Admin</h3>
		<li><a href="{% url 'addHobbies' %}">Add Hobbies</a></li>
		<li><a href="{% url 'addHobbyFactor' %}">Add Hobby Factor</a></li>
		<li><a href="{% url 'addAgeFactor' %}">Add Age Factor</a></li>
		<li><a href="{% url 'addSeasons' %}">Add Seasons</a></li>
		<li><a href="{% url 'addSeasonFactor' %}">Add Season Factor</a></li>
		<li><a href="{% url 'addSeasonCountry' %}">Seasons for Country</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>-->

{% endblock %}