{% extends 'base_register.html' %}
{% block content %}

<script type='text/javascript'>
	function validation(){
		var uname=/^[a-zA-Z0-9.@_]+$/;
		var username=document.getElementById('username');
		
		if(username.value.length == 0){
			alert('Please Enter Your Username');
			username.focus();
			return false;
		}else if(!username.value.match(uname)){
			alert('Please Enter a Valid Username');
			username.focus();
			return false;
		}else{
			return true;
		}
	}
</script>

	<div class="card-title text-uppercase text-center py-3">Forgot Password</div>
	<form method='post' action="{% url 'forgotPasswordAction' %}">
	{% csrf_token %}
		<div class="form-group">
			<label for="username" class="sr-only">Username</label>
			<div class="position-relative has-icon-right">
				<input type='text' id='username' name='username' class="form-control input-shadow" placeholder="Enter Your Userame" />
				<div class="form-control-position">
					<i class="icon-user"></i>
				</div>
			</div>
		</div>	
		<input type='submit' class='submitButton btn btn-light btn-block waves-effect waves-light' value='Submit' onclick='return validation()' />		  
	</form>
	<div class="card-footer text-center py-3">
		<p class="text-warning mb-0">Do not have an account? <a href="{% url 'register' %}"> Sign Up here</a></p>
		<p class="mb-0">Already have an account? <a href="{% url 'register' %}" class="text-warning"> Sign In here</a></p>
	</div>
<!--------------------------------------------------------------------------------------------------------------------->	

		<!--<form method='post' action="{% url 'forgotPasswordAction' %}">
		{% csrf_token %}
			<table>
				<tr>
					<td>Username:</td>
					<td><input type='text' name='username' id='username' /></td>
				<tr>
				<tr>
					<td></td>
					<td><input type='submit' value='ADD' onclick='return validation()' /></td>
				<tr>
			</table>
		</form>-->
	
	{% if messages %}
		{% for msg in messages %}
			<script>
				alert('{{msg}}')
			</script>
		{% endfor %}
	{% endif %}

{% endblock %}