{% extends 'base_register.html' %}
{% block content %}

<script src="/static/jquery-1.8.3.min.js" type='text/javascript'></script>
<script type='text/javascript'>
	function validation(){
		var pswd=/^(?=.*\d)(?=.*[!@#$%^&*_])(?=.*[A-Z])(?=.*[a-z]).{6,16}$/;

		var newPswd=document.getElementById('newPswd');
		var confirmPswd=document.getElementById('confirmPswd');

		if(newPswd.value.length == 0){
			alert('Please Enter Password');
			newPswd.focus();
			return false;
		}else if(!newPswd.value.match(pswd)){
			alert('Please Enter Valid Password');
			newPswd.focus();
			return false;
		}else if(confirmPswd.value.length == 0){
			alert('Please Enter Password');
			confirmPswd.focus();
			return false;
		}else if(!confirmPswd.value.match(pswd)){
			alert('Please Enter Valid Password');
			confirmPswd.focus();
			return false;
		}else{
			return true;
		}
	}
</script>
<script>
	$(document).ready(function(){
		$('#confirmPswd').change(function(){
			var newPswd=$('#newPswd').val();
			var confirmPswd=$('#confirmPswd').val();
			
			if(newPswd != confirmPswd){
				alert('Both Fields Must be Equal');
				$('#confirmPswd').val('');
				$('#confirmPswd').focus()
			}
		})
	})
</script>

	<div class="card-title text-uppercase text-center py-3">New Password</div>
	<form method='post' action="{% url 'newPasswordAction' %}">
	{% csrf_token %}
		<input type='hidden' name='username' id='username' value='{{uname}}' />
		<div class="form-group">
			<label for="newPswd" class="sr-only">New Password</label>
			<div class="position-relative has-icon-right">
				<input type='password' id='newPswd' name='newPswd' class="form-control input-shadow" placeholder="Enter Your Password" />
				<div class="form-control-position">
					<i class="icon-lock"></i>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="confirmPswd" class="sr-only">Confirm Password</label>
			<div class="position-relative has-icon-right">
				<input type='password' id='confirmPswd' name='confirmPswd' class="form-control input-shadow" placeholder="Enter Your Password" />
				<div class="form-control-position">
					<i class="icon-lock"></i>
				</div>
			</div>
		</div>	
		<input type='submit' class='submitButton btn btn-light btn-block waves-effect waves-light' value='Confirm' onclick='return validation()' />		  
	</form>
	<div class="card-footer text-center py-3">
		<p class="text-warning mb-0">Already have an account? <a href="{% url 'register' %}"> Sign In here</a></p>
	</div>
<!--------------------------------------------------------------------------------------------------------------------->	
	
		<!--<h3><u>New Password</u></h3>
		<form method='post' action="{% url 'newPasswordAction' %}">
		{% csrf_token %}
			<input type='hidden' name='username' id='username' value='{{uname}}' />
			<table>
				<tr>
					<td>New Password:</td>
					<td><input type='password' name='newPswd' id='newPswd' /></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><input type='password' name='confirmPswd' id='confirmPswd' /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type='submit' value='SUBMIT' onclick='return validation()' /></td>
				</tr>
			</table>
		</form>-->
	
	{% if messages %}
		{% for msg in messages %}
			<script>
				alert('{{msg}}')
			</script>
		{% endfor %}
	{% endif %}

{% endblock %}